<div class="container block is-primary">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input id="name" formControlName="name" type="text" />
    </div>
  
    <div>
      <label for="surname">Surname:</label>
      <input id="surname" formControlName="surname" type="text" />
      
    </div>
  
    <div>
      <label for="username">Username:</label>
      <input id="username" formControlName="username" type="text" />
      
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" />
      
    </div>
  
    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" />
      
    </div>
  
    <button class="button" type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>